
.o_product_feature_panel > .o_product_panel > .o_product_panel_header > .o_product_circle{
    color: white;
}

.pagination > .page-item > .page-link {
    color: #6c757d;
}

/*color: #6c757d;*/
#products_grid_before .js_attributes {
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
    display: none !important;
}

#products_grid_before > ul.nav {
    margin: 0 0 0px !important;
    padding: 0 0 0px !important;
    border-bottom: 0px !important;
}
#products_grid_before > ul.nav li.nav-item a:after {
    display: none !important;
}

.d-md-block{
    display: block !important;
}
.o_sharing_links .o_google{
    display: none;
}

#blog_right_column .mt32 h4{
    color: #323232 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
#blog_right_column .mt32 p font{
    color: #6c757d !important;
    font-family: "Work Sans", sans-serif;
}

@media (min-width: 411px) and (max-width:735px) {

.scout_shipping{
	font-size: 12px;
	}
}

.card_shipping{
	font-size: 16px;
}

#o_payment_form_acq_7{
	margin-top: 8px;
}

/*geminatecs nov18*/
.js_subscribe_btn:hover{
    background: black !important;
    color:white !important;
}

.middle-footer .fot-col ul li a{
    color:#1d5861 !important;
}

.middle-footer .fot-col ul li:after{
    border-top: 1px solid #1d5861 !important;
    border-right: 1px solid #1d5861 !important;
}

.middle-footer .fot-col address > div > div i{
    
    color:#1d5861 !important;
}

.middle-footer .fot-col address{
    color:#1d5861 !important;
}
/*geminatecs nov18*/
@media (min-width: 320px) and (max-width:735px) {
    .oe_website_sale .td-img{
        display: block !important;
    }
    
    .oe_cart div .col-lg-12{
        overflow: auto;
    }
   .input-group-append .js_add_cart_json{
        display: block !important;
    }
    .input-group-prepend .js_add_cart_json{
        display: block !important;
    }
}
