.progress-div {
  	margin: 10px 0;
  	padding: 3px;
  	border: 1px solid $o-brand-secondary;
  	font-size: 14px;
  	clear: both;
  	opacity: 1;
  	-moz-transition: opacity 1s linear;
  	-o-transition: opacity 1s linear;
  	-webkit-transition: opacity 1s linear;
	
  }
  #progress_bar.loading {
  	opacity: 1.0;
  }
  .progress-div .progress-bar-div {
  	background-color: $o-brand-primary;
  	height: auto;
  	width: 0;
	color:$o-brand-secondary;
  }
